<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <h2 class="text-center">Update Account Credentials</h2>
  <br>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.label :email, "Current Email" %>
    <%= form.email_field :email, disabled: true %>
  </div>
  <div>
    <%= form.label :unconfirmed_email, "New Email" %>
    <%= form.text_field :unconfirmed_email %>
  </div>
  <div>
    <%= form.label :password,"Change Password"%>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation,"Confirm New Password" %>
    <%= form.password_field :password_confirmation %>
  </div>
  </br></br>
  <div>
    <%= form.label :current_password, "Enter Current Password to confirm your changes" %>
    <%= form.password_field :current_password, required: true %>
  </div>
  <%= form.submit "Update Account" %>
  <%= button_to "Log out of all sessions", destroy_all_active_sessions_path, method: :delete %>
  <hr/>
  <h2 class="text-center">Current Sessions</h2>
  <% if @active_sessions.any? %>
    <table class="table table-bordered">
      <thead class="well">
        <tr>
          <th>User Agent</th>
          <th>IP Address</th>
          <th>Login Timestamp</th>
          <th>Sign out</th>
        </tr>
      </thead>
      <tbody>
        <%= render @active_sessions %>
      </tbody>
    </table>
  <% end %>

<% end %>
